body {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  overflow: hidden;
}

header {
  position: fixed;
  width: 70vw;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 600px;
  gap: 20%;
  z-index: 2;

  & img {
    width: 250px;
  }

  & nav {
    & ul {
      display: grid;
      grid-template-columns: repeat(3, 200px);
    }

    & ul li:hover {
      cursor: pointer;
    }
  }
}

section {
  background-image: radial-gradient(#a753eb, rgb(94, 0, 245));
  height: 100vh;
  position: relative;

  & .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;

    & .item {
      position: absolute;
      inset: 0;

      & .car-image {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 70%;

        & img {
          width: 100%;
          transform: rotate(-30deg);
        }

        &::before {
          content: '';
          position: absolute;
          background-color: #000;
          width: 100%;
          height: 100px;
          top: 150%;
          left: 50px;
          border-radius: 50%;
          filter: blur(50px);
        }
      }

      & .content {
        position: absolute;
        right: 100px;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;

        & .car-information {
          font-weight: 600;
        }

        & h2 {
          font-family: "League Gothic", sans-serif;
          font-size: 6em;
          line-height: 1em;
        }

        & .car-description {
          color: #c4c2c2f1;
          font-size: 12px;
          text-align: right;
          max-width: 350px;
        }

        & .information {
          font-family: "League Gothic", sans-serif;
          font-size: 16px;
          border-radius: 30px;
          height: 35px;
          width: 140px;
          text-transform: uppercase;
          border: none;
          background-color: #d1ff06;
          color: #000;
          cursor: pointer;
          font-weight: 500;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 200px;
      width: 100%;
      top: 50%;
      border-top: 1px solid #fff;
    }
  }

  .arrows {
    width: 70vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;

    & button:nth-child(1) {
      & img {
        transform: scale(-1);
      }
    }

    & button {
      top: 60%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      & img {
        width: 20px;
        margin-top: 4px;
        cursor: pointer;
      }

      &:hover {
        background-color: #d1ff06;
      }
    }
  }

  .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;

    & .number {
      font-family: "League Gothic", sans-serif;
      font-size: 5em;
    }

    & ul {
      display: flex;
      gap: 10px;

      & li {
        width: 50px;
        height: 5px;
        background-color: #fff;
        border-radius: 5px;
        transition: 0.5s;
      }

      & .active {
        background-color: #d1ff06;
      }
    }
  }
}

section {
  & .list {
    --calculation: 1;

    & .item {
      transform: translateX(calc(100vw * var(--calculation)));
      transition: 0.5s;
      opacity: 0;

      & .car-image {
        & img {
          transform: rotate(0);
          transition: 0.5s;
          transition-delay: 0.3s;
        }
      }

      & .content {

        & .car-information,
        h2,
        .car-description,
        .information {
          transform: translateX(calc(200px * var(--calculation)));
          transition: 0.7s;
          transition-delay: 0.3s;
          opacity: 0;
        }

        & h2 {
          transition-delay: 0.5s;
        }

        & .car-description {
          transition-delay: 0.7s;
        }

        & .information {
          transition-delay: 0.9s;
        }
      }
    }

    & .active {
      transform: translateX(0);
      transition: 0.5s;
      opacity: 1;

      & .car-image {
        & img {
          transform: rotate(-20deg);
        }
      }

      & .content {

        & .car-information,
        h2,
        .car-description,
        .information {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}